<!DOCTYPE html>
<html>
<head>
  <title>Pear Trading - Forgotten Password</title>
</head>
<body>
  <h1>Hello {{ username }}</h1>
  <h3>It seems that you may have forgotten your password... oops!</h3>
  <p>
    As a precaution, we have locked your account, but dont worry! to
    re-activate it just go to the following link and create a new password!
    Simple!
  </p>

  <p>
    <a href='{{ root_url }}/verify_account.php?id={{ pass_key }}'>Create Account Password</a>
  </p>
  <p>
    If you did not request to reset your password, please contact us as soon as
    possible at <a href="mailto:issues@app.peartrade.org">Issues @ Pear Trading</a>
    </p>
  <p>
    Thanks
    <br>
    Michael Hallam
  </p>
</body>
</html>
